body {
    background-color: #040322;
    color:#cfc6a9;
    font-family: 'Oxygen', 'Roboto', sans-serif;

}
h1, span {
    font-family: 'Rufina', serif;
}
.logo{
    text-align: center;
    padding: 7em 0 3em 0;
    a, a:hover, a:active{
        text-decoration: none;
        color:inherit;
    }
    img{
        max-width: 100px;
    }
    span{
        font-size: xx-large;
    }
}
.gallery{
    
    display: flex;
    flex-wrap: wrap;

    img{
    height: 200px;
    flex-grow: 1;
    object-fit: cover;
    margin: 2px;
    cursor: pointer;
    }
}
.carousel-item {
  
    img {
      max-height: 70vh;
      object-fit: scale-down;      
     
    }
  }
  // Overwrite modal
  .modal {
      .modal-dialog {
         
          .modal-content {
              background-color: transparent;
              border: none;
            .modal-header {
                border-bottom: none;
                .close, .close:hover {
                    color: white;
                }
            }        
          }
          @media (min-width:  768px) {
            max-width: 80vw;
          }
      }
  }
  .nav {
      background-color: #040322;
  }
  .footer{
      padding: 2em;
      p{
          text-align: center;
          color: #1d2b50;
          font-size: 0.8em;
          font-weight: bold;
      }
  }
