body {
  background-color: #040322;
  color: #cfc6a9;
  font-family: 'Oxygen', 'Roboto', sans-serif; }

h1, span {
  font-family: 'Rufina', serif; }

.logo {
  text-align: center;
  padding: 7em 0 3em 0; }
  .logo a, .logo a:hover, .logo a:active {
    text-decoration: none;
    color: inherit; }
  .logo img {
    max-width: 100px; }
  .logo span {
    font-size: xx-large; }

.gallery {
  display: flex;
  flex-wrap: wrap; }
  .gallery img {
    height: 200px;
    flex-grow: 1;
    object-fit: cover;
    margin: 2px;
    cursor: pointer; }

.carousel-item img {
  max-height: 70vh;
  object-fit: scale-down; }

.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: none; }
  .modal .modal-dialog .modal-content .modal-header {
    border-bottom: none; }
    .modal .modal-dialog .modal-content .modal-header .close, .modal .modal-dialog .modal-content .modal-header .close:hover {
      color: white; }

@media (min-width: 768px) {
  .modal .modal-dialog {
    max-width: 80vw; } }

.nav {
  background-color: #040322; }

.footer {
  padding: 2em; }
  .footer p {
    text-align: center;
    color: #1d2b50;
    font-size: 0.8em;
    font-weight: bold; }
